* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

.app {
  background-color: #0b2434;
  padding: 90px;
  min-height: 100vh;
}
.homepage {
  text-align: center;
  background-color: #f5f5f5;
  height: 500px;
  max-width: 800px;
  border-radius: 5px;
  margin: auto auto auto auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  gap: 20px;
}
.homepage h3 {
  max-width: 500px;
}

.wrapper {
  background-color: #f5f5f5;
  height: 500px;
  max-width: 800px;
  border-radius: 5px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
}
/* .contain{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
} */
header {
  text-align: center;
  width: 100%;
}
header p {
  font-size: 20px;
}
.die {
  background-color: white;
  max-height: 70px;
  max-width: 70px;
  padding: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 7px;
  cursor: pointer;
}
.dieisHeld {
  background-color: #59e391;
}
.dice-container {
  max-width: 500px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  /* border: 1px solid black; */
  margin-top: 15px;
}
footer {
  margin-top: 40px;
}
button,
a {
  padding: 10px 15px;
  font-size: 20px;
  border: none;
  border-radius: 7px;
  background-color: #5035ff;
  color: white;
  cursor: pointer;
}
button:active,
a:active {
  box-shadow: inset 2px 3px 20px -3px rgba(0, 0, 0, 0.9);
}
.NoOfRolls {
  margin: 10px 0;
}

/* Media queries */
@media screen and (max-width:400px) {
 .wrapper{
  max-width: 350px;
 } 
 .dice-container{
  gap: 10px;
  width: 100%;
 }
 .die{
  padding: 10px;
 }
}

@media screen and (min-width:401px) and (max-width:420px) {
 .wrapper{
  max-width: 370px;
 } 
 .dice-container{
  gap: 15px;
  /* width: 100%; */
 }
 .die{
  padding: 20px;
 }
}

@media screen and (max-width: 920px) {
  .app {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .homepage {
    width: 100%;
  }
}

/* @media screen and (max-width: 920px) {
  .app {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .homepage {
    width: 100%;
  }
} */
